<!DOCTYPE html>
<html dir="ltr" lang="en-US">

</html>
<head>
    <style>
   div {
    border: 1px solid #50d; /* Белая рамка */
    border-radius: 5px; /* Радиус скругления */
    display: inline-block;
    margin: 30;
    padding: 2% ;
   }
  </style>
</head>
<body>

<div>
    New factor: <br>
    <form method="post" action="factor.addFactor">
        <input type="text" name="factorName" placeholder="Factor name" />
        <input type="text" name="factorQuery" placeholder="Factor query"/>
        <button type="submit">Add</button>
    </form>

</div>
<br>
<br>
<div>
    {{#factors}}
    <div>
        <b>ID:</b> <i>{{id}}</i><br>
        <b>Factor Name:</b> <i>{{factorName}}</i><br>
        <b>Factor query:</b> <i>{{factorQuery}}</i><br>
        <hr>
        <form method="post" action="factor.editFactor">
            <p>New factor name: <input type="text" name="newFactorName"></p>
            <p>New factor query: <input type="text" name="newFactorQuery"></p>
            <p><button type="submit" name="id" value="{{id}}">Edit</button>
        </form>
        <form method="post" action="factor.testFactor">
            <button type="submit" name="id" value="{{id}}">Test</button>
        </form>
        <form method="post" action="factor.delFactor">
            <button type="submit" name="id" value="{{id}}">Delete</button>
        </form>

    </div>
    <br>
    {{/factors}}

</div>

</body>
</html>